@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  color: #605B56;
  background-color: #FFEEDB;
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  margin: 7vh 0 7vh;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
}

.home-main {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.home-form {
  width: 70%;
}

.session-links {
  font-size: calc(10px + 1vmin);
}

.session-link {
  background-color: #ED9B40;
  border-radius: 10px;
  margin-top: 10px;
}

.session-link:hover {
  background-color: #ffa746;
}

.language-select {
  display: inline-block;
  min-width: 250px;
  padding: 1rem;
}

.hidden {
  display: none;
}

.divider {
  margin: 3vw auto;
  font-size: calc(10px + 6vmin);
}

.divider-row {
  /*margin-top: 3vw;*/
  margin-right: 2vw;
  font-size: calc(10px + 6vmin);
}

.language-selection {
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.level-selection {
  margin-top: 3vh;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.number-input {
  min-width: 60px;
  margin: auto 1rem;
  opacity: 0.5;
  border: none;
  background-color: #ed9b4059;
  color: #605B56;
  min-height: 2rem;
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 7%;
}

.begin-button {
  margin: 0 auto 20vh;
  border: none;
  border-radius: 15px;
  background-color: #ED9B40;
  min-height: 40px;
  min-width: 150px;
  font-weight: 300;
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

/* GAME */
.game {
  height: 100%;
}
.game-header {
  margin: 3vh 5vw 16vh;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.game-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
}

.question-number {
  font-size: calc(10px + 5vmin);
  font-weight: bold;
  height: 12%;
}

.question-input {
  height: 58%;
}

.guess-input {
  min-width: 200px;
  margin: 2vh 1rem;
  border: solid 2px #88551d69;;
  background-color: #ed9b40bd;
  color: #605B56;
  min-height: 32px;
  height: 5vmin;
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 20%;
  border-radius: 10px;
}

.guess-input:focus {
  outline: unset;
}

.guess-input:disabled {
  opacity: 0.4;
}

.gameboard-section {
  height: 100%;
}

.answer-section {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(10px + 6vmin);
}

.correct {
  background: #1dff8d6b;
  color: #029c02;
  border: solid 1px #01bd005e;
}

.wrong {
  background: #f15a598c;
  color: #f20f00;
  border: solid 1px #f20e0063;
}

.logo {
  font-size: 3rem;
}

.continue-button {
  border-radius: 15px;
  min-height: 40px;
  min-width: 150px;
  font-weight: 500;
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

.continue-button:focus {
  outline: unset;
}

.scoreboard {
  font-size: calc(10px + 5vmin);
  display: flex;
  flex-direction: column;
  background-color: #ED9B40;
  align-items: center;
  width: 50%;
  margin-right: 5vw;
  border-radius: 170px 10px;
  border: solid 1px #ED9B40;
  height: 30%;
  position: relative;
}

.score-emoji {
  font-size: calc(10px + 11vmin);
  position: absolute;
  top: 0;
  left: 0;
}

.score-text {
  margin: 10%;
}

.historyboard {
  background-color: #ED9B40;
  border-radius: 10px 170px;
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  font-size: calc(10px + 2vmin);
}

.history-element {
  width: 40%;
  margin: 4px auto;
  border-radius: 6px;
  font-size: calc(10px + 1vmin)
}

.accordion__button {
  background: none;
  color: #605B56;
  cursor: pointer;
  padding: 18px;
  text-align: center;
  border: none;
}

.accordion__button:focus {
  outline-color: rgba(96, 91, 86, 0.71);
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

.accordion__panel {
  color: #605B56;
}

.score-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* UTILS */

.tracker {
  width: 50%;
  height: 15px;
  margin: 8vh 2vw 16vh;
  background: #ed9b4059;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(153,88,8,0.4);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(153,88,8,0.4);
  box-shadow: inset 0px 0px 5px 0px rgba(153,88,8,0.4);
  position: relative;
}

.inner-tracker {
  height: 15px;
  background: #7BE0AD;
  border-radius: 10px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -ms-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}

.circle-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30vmin;
  height: 30vmin;
  font-size: calc(10px + 2vmin);
  background-color: #ED9B40;
  cursor: pointer;
  color: #605B56;
}

.circle-button:hover {
   background-color: #ffad40;
 }

.circle-button:focus {
  outline: unset;
}

@keyframes spin {
  to {
    transform: rotate(-360deg) scale(1.1);
  }
}

.spinner {
  animation: 2s ease infinite spin;
  font-size: 5vw;
}

form {
  margin: 0;
  padding: 0;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a {
  text-decoration: unset;
  color: unset;
}

a:focus {
  /*outline: unset;*/
}

main {
  height: 70%;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

footer {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: calc(10px + 1vmin);
}

